<title>Create Membership</title>

<form action = "/membership" method = "POST" name = "membership" id = "membership">
<input type = "text" name = "name" placeholder = "Name (Required)" required>
<input type = "number" name = "age" placeholder = "Age (Required)" required>
<input type = "password" name = "card" placeholder = "Credit Card Number (Required)" required>
<input type = "text" name = "id" placeholder = "Wanted Id (required)" required>
<input type = text name = "cphone" placeholder = "Cell Phone (required)" required>
<input type = text name = "hphone" placeholder = "Home Phone (optional)">
<input type = text name = "wphone" placeholder = "Work Phone (optional)">
<input type = text name = "haddress"placeholder = "Home Address (required)" required>
<input type = text name = "waddress" placeholder = "Work Address (optional)">
<input type = text name = gaddress placeholder = "Grandma's Address (optional)">
<button type = submit name = "membership" form = "membership" >Submit</button>
</form>
